* {
    font-family: 'Noto Sans KR';
}

.close-button{
    position: absolute;
    top: 20px;
    right: 20px;
}

.modal-box{
    text-align: left;
    padding: 10px;
}

.modal-img-box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 16px;
}

.modal-box img{
    width: 100px;
    height: 100px;
    border-radius: 99px;
}

.modal-box span{
    display: inline-block;
    width: 60px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    min-width: 40px;
}

.modal-box input{
    flex: 1;
    width: 200px;
    background: #FFFFFF;
    border: none;
    border-bottom: 2px solid #cccc;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
}

.modal-box input[type="file"] {
    flex: 1;
    width: 200px;
    border: none;
    font-size: 16px;
}

.btn{
    margin: 10px 4px;
    text-align: center;
    border-radius: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    background: black ;
    color: #FFFFFF;
}