* {
    font-family: 'Noto Sans KR';
}

.EJoin {
    padding: 65px 35px 0;
    text-align: left;
}

h4{
    padding-bottom: 64px;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    text-align: left;
}

.error{
    color: #FF746B;
}

.auth-form{
    padding-bottom: 40px;
}

.auth-title{
    padding-bottom: 22px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
}

.email-box{
    display: flex;
    box-sizing: border-box;
    width: 240px;
    height: 46px;
    background: #FFFFFF;
    border: none;
    border-bottom: 2px solid #cccc;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 26px;
}

.auth-box{
    display: block;
    box-sizing: border-box;
    width: 320px;
    height: 46px;
    background: #FFFFFF;
    border: none;
    border-bottom: 2px solid #cccc;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 26px;
}

.doubleButton{
    position: absolute;
    right: 36px;
    top: 250px;
    width: 68px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
    font-style: normal;
    font-weight: 800;
    font-size: 13px;
    line-height: 18px;
}

.nextButton{
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 110px;
    height: 46px;
    background: #D2D4DB;
    border-radius: 30px;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 46px;
    color: #FFFFFF;
    text-align: center;
}