.navbar{
  position: fixed;
  width: 100%;
  height: 56px;
  top:0;
  left:0;
}

.cart{
  position: absolute;
  right: 20px;
  top: 18px;
  width: 22px;
  height: 22px;
}

.searchContainer {
    display: flex;
    align-items: center;
  }
  
.searchBox {
  margin-right: 10px; 
}

.searchIcon {
  font-size: 20px; 
}

.menuForm {
  padding-left: 30px;
  padding-right: 30px;
  position: fixed;
  bottom: 0;
  width: 390px;
  display: flex;
  justify-content: space-between;
  background: #FFFFFF;
}

.menuForm > div > span {
  flex-basis: 25%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menuForm > div > img {
  margin-bottom: 5px;
}

.detail-nav{
  width: 100%;
  height: 55px;
  top:0;
  left:0;
}

.info-bar{
  margin: 0 30px;
  text-align: left;
  font-family: 'Noto Sans KR';
}

.infoBar-title{
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.infoBar-sub-title{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.infoBar-content{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #6F6F6F;
}

.sns-icon{
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}